@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #181f2a;
}

@media only screen and (max-width: 500px) {
  .btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    height: 45px;
    background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
    background: linear-gradient(left, #65e2d9, #339ecc);
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    -webkit-box-shadow: 0 5px 10px rgba(15, 19, 26, 0.952);
            box-shadow: 0 5px 10px rgba(15, 19, 26, 0.952);
  }
  #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 450px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #1c2431;
    background-image: url(images/illustration-intro.png), url(images/bg-curvy-mobile.svg);
    background-size: 88% 60%, 100% 30%;
    background-position: 25px, 0 315px;
    background-repeat: no-repeat;
  }
  #nav #logo {
    position: relative;
    top: 15px;
    right: 20px;
  }
  #nav #logo img {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  #nav .links {
    position: relative;
    top: 15px;
    right: 15px;
  }
  #nav .links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    width: 200px;
  }
  #nav .links ul li {
    list-style-type: none;
    padding-left: 15px;
  }
  #nav .links ul li a {
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }
  .section-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 425px;
    color: white;
    padding: 0 25px 0 25px;
  }
  .section-one h1 {
    text-align: center;
    font-family: "Raleway", sans-serif;
  }
  .section-one p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
  }
  .section-two {
    color: white;
    padding: 0 25px 0 25px;
  }
  .section-two .feature {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .section-two .feature img {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    padding: 40px 0 20px 0;
  }
  .section-two .feature h1 {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-size: 1.5em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
  .section-two .feature p {
    position: relative;
    top: -20px;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
  }
  .section-three {
    color: white;
    padding: 100px 25px 50px 25px;
  }
  .section-three img {
    position: relative;
    left: 20px;
    width: 88%;
    height: 60%;
  }
  .section-three h1 {
    text-align: center;
    font-size: 1.3em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
  .section-three p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: left;
  }
  .section-three span {
    color: #65e2d9;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid #65e2d9;
  }
  .section-three span img {
    position: relative;
    left: 0;
    top: 3px;
    width: 5%;
    height: 5%;
  }
  .section-four {
    display: -ms-grid;
    display: grid;
    gap: 30px;
    color: white;
    padding: 30px 25px 0 25px;
  }
  .section-four img {
    position: relative;
    top: 50px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .section-four .testimonial {
    background-color: #202a3c;
    height: 210px;
    padding: 15px 10px 10px 15px;
    border-radius: 10px;
  }
  .section-four .testimonial p {
    font-family: "Open Sans", sans-serif;
  }
  .section-four .testimonial .person {
    display: -ms-grid;
    display: grid;
    gap: 0;
        grid-template-areas: "one two two" "one three three";
  }
  .section-four .testimonial .person img {
    position: relative;
    top: 10px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: one;
    width: 50%;
    height: 82%;
    border-radius: 50%;
  }
  .section-four .testimonial .person h4 {
    position: relative;
    right: 75px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: two;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
  .section-four .testimonial .person span {
    position: relative;
    right: 75px;
    bottom: 15px;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: three;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  .section-four #card {
    position: relative;
    top: 160px;
    background-color: #202a3c;
    height: 310px;
    padding: 15px 20px 10px 20px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 8px rgba(15, 19, 26, 0.952);
            box-shadow: 5px 5px 8px rgba(15, 19, 26, 0.952);
  }
  .section-four #card h1 {
    text-align: center;
    font-size: 1.3em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
  .section-four #card p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    padding-bottom: 15px;
  }
  .section-four #card .textbox {
    position: relative;
    left: 10%;
    width: 80%;
    height: 45px;
    border-radius: 20px;
    border: none;
  }
  .section-four #card .textbox::-webkit-input-placeholder {
    padding-left: 10px;
    color: #c0c0c0;
  }
  .section-four #card .textbox:-ms-input-placeholder {
    padding-left: 10px;
    color: #c0c0c0;
  }
  .section-four #card .textbox::-ms-input-placeholder {
    padding-left: 10px;
    color: #c0c0c0;
  }
  .section-four #card .textbox::placeholder {
    padding-left: 10px;
    color: #c0c0c0;
  }
  .section-four #card .get-started {
    position: relative;
    left: 11%;
    top: 20px;
  }
  #footer {
    color: white;
    background-color: #0b1523;
    height: 600px;
    padding: 250px 25px 0 25px;
    font-family: "Open Sans", sans-serif;
  }
  #footer #address {
    padding-left: 35px;
    background-image: url(images/icon-location.svg);
    background-repeat: no-repeat;
    background-position-y: 10px;
  }
  #footer #telephone {
    padding-left: 35px;
    background-image: url(images/icon-phone.svg);
    background-repeat: no-repeat;
    background-position-y: 10px;
  }
  #footer #email {
    padding-left: 35px;
    background-image: url(images/icon-email.svg);
    background-repeat: no-repeat;
    background-position-y: 10px;
  }
  #footer .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0 30px 0;
  }
  #footer .about span {
    padding: 5px 0 5px 0;
  }
}
/*# sourceMappingURL=mobile-style.css.map */