@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

$introBg: hsl(217, 28%, 15%); //Intro and Email sign up background
$mainBg: hsl(218, 28%, 13%); // main background
$footerBg: hsl(216, 53%, 9%); //footer background
$testBg: hsl(219, 30%, 18%); //Testimonials background
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$white: hsl(0, 0%, 100%);
$headFont: 'Raleway', sans-serif; //Headings, Call-to-actions, navigation
$bodyFont: 'Open Sans', sans-serif; //Body text

body {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:500px) {

#nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
    justify-content: space-evenly;
    background-color: $introBg;

    #logo {
        position: relative;
        top: 15px;
        right: 20px;
        
        img {
            transform: scale(0.6);
        }
    }

    .links {
        position: relative;
        top: 15px;
        right: 15px;

        ul {
            display: flex;
            flex-direction: row;
            padding: 0;
            width: 200px;

            li {
                list-style-type: none;
                padding-left: 15px;

                a {
                    text-decoration: none;
                    color: $white;
                    font-family: $headFont;
                    font-weight: 400;
                }
            }
        }
    }
}

}